@*@{
    ViewBag.Title = "Book Detail - " + Model.bookDetail.Title;
}*@
@using Dnc.BookStore.Enums; 
@*@model BookModel*@

<div class="container">
    <h3 class="display-4">
        Book Details
    </h3>
    <div class="row">
        <div class="col col-md-6">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="~/images/booksnapshot1.png" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="~/images/booksnapshot2.png" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="~/images/booksnapshot1.png" class="d-block w-100" alt="...">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <div class="col col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <h1>@Model.bookDetail.Title</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-primary">
                    <span class="text-primary">By:</span>
                    <span class="text-monospace">@Model.bookDetail.Author</span>
                </div>
            </div>


            <div class="row">
                <div class="col-md-12">
                    <p class="text-muted">@Model.bookDetail.Description</p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <button class="btn btn-outline-primary">Read now..</button>
                </div>
                <small class="text-muted" ><a asp-fragment="similarBooks">See all similar books</a></small>
            </div>
            <hr />

            <ul class="list-group">
                <li class="list-group-item">
                    Lanuguage - @Model.bookDetail.MultiLanguageText
                </li>
                <li class="list-group-item">
                    Category - @Enum.GetName(typeof(CategoryEnum), Convert.ToInt32(Model.bookDetail.Category))
                </li>
                <li class="list-group-item">
                    Pages - @Model.bookDetail.Pages
                </li>
            </ul>
        </div>
    </div>
    <hr />

    <div class="py-3 bg-light" id="similarBooks">
        <h3 class="h3">
            Similar Books
        </h3>
        <div class="row">
            @foreach (var book in Model.similarBooks)
            {
                <div class="col col-md-4">
                    <div class="card mb-4 shadow">
                        <div class="card-body">
                            <svg class="card-img-top" style="background-color:grey;"></svg>
                            <span class="card-text">
                                @book.Title
                            </span>
                            <p class="card-text">
                                @book.Description
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="/book/getbook/@book.Id" class="btn btn-sm btn-outline-secondary">Details</a>
                                </div>
                                <small class="text-muted">@book.Author</small>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

